{% extends 'base.html'%}
{% block title %}

Forgot Password

{% endblock%}
{% block extra_css %}
<style>
    .frgtpswd-card {
        background: linear-gradient(to right, #f6f6f6, #e2e2e2);
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        color: #333333;
        max-width: 400px;
        margin: 0 auto;
    }

    .frgtpswd-card h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
    }

    
    .form-group input[type="email"]
     {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        color: #333333;
        padding: 8px;
        margin-bottom: 10px;
        width: 100%;
        border-radius: 5px;
        font-size: 14px;
    }

    .btn-primary {
        background-color: #009688;
        border: none;
        color: #ffffff;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
    }

    .btn-primary:hover {
        background-color: #00796b;
    }

    .text-center {
        text-align: center;
    }

    .mt-3 {
        margin-top: 15px;
    }

    .btn-link {
        color: #009688;
        text-decoration: none;
    }
</style>
{% endblock %}
{% block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="frgtpswd-card">
                <h2>Forgot Password</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.mail.label_tag }}
                        {{ form.mail }}
                        {{ form.mail.errors }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}